In [1]:
import sqlite3

In [2]:
connection.sqlite3.connect("classroomDB.db")
connection.close()

NameError: name 'connection' is not defined

In [3]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [5]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                ); """
cursor.execute(create_table)
connection.commit()
connection.close()

In [9]:
classroom_data = [(1, "Raj", "M", 70, 84, 92),
                  (2, "Poonam", "F", 87, 69, 93),
                  (3, "Nik", "M", 65, 83, 90),
                  (4, "Rahul", "F", 83, 76, 89)]
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
for student in classroom_data:
    insert_statement = """INSERT or REPLACE INTO classroom
                          (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                          VALUES
                          ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2],
                                                                       student[3], student[4], student[5])
    cursor.execute(insert_statement)
    
connection.commit()
connection.close()

In [10]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
query = "SELECT * FROM classroom"
cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

In [11]:
!conda install -y -q pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\tuan.vo\Anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-1.0.2              |   py38haa95532_1          77 KB
    ------------------------------------------------------------
                                           Total:          77 KB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-1.0.2-py38haa95532_1


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [12]:
import pymysql

ModuleNotFoundError: No module named 'pymysql'

In [13]:
import pymysql

ModuleNotFoundError: No module named 'pymysql'